body {
  font-family: arial, helvetica, sans-serif;
  background: linear-gradient(68.15deg, #b9112d 16.62%, #1442c2 85.16%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  max-width: 100%;
  display: flex;
}

.cabecalho-imagem {
  height: 72px;
  max-width: 100%;
  display: flex;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
  display: flex;
}

.cabecalho-menu-item {
  font-family: "Sarala", sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
}

.tela-login {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate (-50%, -50%);
  padding: 90px;
  margin-bottom: 100%;
  border-radius: 15px;
  color: aliceblue;
  position: absolute;
  flex-direction: center;
  max-width: 100%;
  margin-left: 40%;
}

.input {
  padding: 0px;
  border-radius: 15px;
  max-width: 100%;
}

.esqueciSenha {
  color: aliceblue;
  cursor: pointer;
  font-size: 12px;
  margin-left: 60px;
}

.botao {
  background-color: white;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  font-size: white;
}

.cadastro {
  color: aliceblue;
  font-size: 12px;
  margin: center;
}

.cliqueAqui {
  color: aliceblue;
  cursor: pointer;
  font-size: 12px;
  margin-left: 40px;
}

.endereco {
  font-family: "Varela Round", sans-serif;
  color: white;
  display: flex;
  padding-top: 10px;
  scroll-padding-inline-end: 20px;
  align-items: center;
  flex-direction: column;
}

.rodape {
  padding: 32px;
  align-items: center;
  border-top: 0.1px solid rgb(255, 255, 255);
}
