* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #b9112d 16.62%, #1442c2 85.16%);
}

.texto {
  font-family: "Pacifico", cursive;
  font-weight: 40;
  font-size: 35px;
  color: #fff2e7;
}
