<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/cadastro.css">
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="images/bandeira inglaterra.png" alt="logo da comunidade">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="/">Home</a>
        </nav>
    </header>

    <div class="conteudo"></div>
    <form action="/cadastro/criar" method="POST">
    <div class="tela-login">
        <h1 class="cadastro">Cadastre-se</h1>
        <input class="nomeCompleto" required name="nome" type="text" placeholder="Informe o nome completo"></input>
        <br><br>
        <input class="telefone" required name="telefone" type="tel" placeholder="(99) 9 9999-9999"></input>
        <br><br>
        <input class="CPF" required name="CPF" type="text" placeholder="CPF: 000.000.000-00"></input>
        <br><br>
        <input class="email" required name="email" type="email" placeholder="Informe o seu e-mail"></input>
        <br><br>
        <input class="password" required name="senha" type="password" placeholder="Informe uma senha"></input>
        <br><br>
                <input class="cep" name="cep" type="text" placeholder="CEP"></input>
                <br><br>
                <input class="endereco" name="endereco" type="text" 
                    placeholder="Informe seu endereço" required></input>
                <br><br>
                <input class="numero" name="numero" type="number" required  placeholder="Numero"></input>
                <br><br>
                <input class="complemento" name="complemento" required type="text" 
                    placeholder="complemento"></input>
                <br><br>
                <input class="bairro" name="bairro" type="text" required  placeholder="bairro"></input>
                <br><br>
                <input class="cidade" name="cidade" type="text" required placeholder="cidade"></input>
                <br><br>
                <input class="estado" name="estado" type="text" required  placeholder="estado"></input>
                <br><br>
        <button type="submit" class="botao">Cadastrar</button>

    </div>
    </form>
</body>

</html>