<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="images/bandeira inglaterra.png" alt="logo da comunidade">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item"
                href="/">Home</a>
        </nav>
    </header>

    <div class="conteudo"></div>
    
    <form action="/login/logar" method="POST">
    <div class="tela-login">

        <h1>Login</h1>
        <br><br>
        <input type="text" name="email" placeholder="E-mail"></input>
        <br><br>
        <input type="password" name="senha" placeholder="Senha"></input>
        <br><br>
        <button class="botao" type="submit">Entrar</button>
        <br><br>
        <br><br>
        <div class="cadastro"> Ainda não tem cadastro?</div> <a class="cliqueAqui"
            href="/cadastro">Clique aqui</a>
    </div>
</form>
    </div>

    </div>
    </div>


    </div>
</body>

</html>